@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
/* css Variables (변수) */
:root {
    /* color */
    --primary-color : hsl(160,100%,25%); /* hsl= h: 컬러, s: 채도, l: 밝기 */
    --secondary-color: hsl(339,77%,59%);
    --third-color: hsl(160, 100%, 30%);
    --body-color: #fff;

    /* font */
    --body-font: "Cute Font", sans-serif;
    --h1-font-size: 2rem; /* 크롬 > 설정 > 글자 크기 : 중간(기본값)일 때, 대문자 M의 너비(16px) = 1rem */
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.6rem;

    /* font weight */
    --font-thin: 200;
    --font-regular:400;
    --font-bold: 700;

    /* z-index */
    --z-index: 100;

    /* nav */
    --nav-height: 44px;
}

/* nav */
body{
    background-color: var(--body-color);
    font-family: var(--body-font);
}

body>header{
    position: absolute;
    top:0;
    right: 0;
    left: 0;
}
nav{
    height: var(--nav-height);
    background-color: var(--primary-color);
}
.nav.container{
    display: flex;   /* 기본 값: 가로로 배치 */
    justify-content: space-between;    /* 메인축으로 양쪽 정렬 */
    align-items: center;    /* 교차축으로 가운데 정렬 */
    padding: 0 40px;
    color: #fff;
    font-size: var(--h2-font-size);
}
.nav-list{
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.nav-logo{
    color:#fff;
}
.nav-link{
    color: #fff;
}
.nav-toggle{
    display: none;
}
